<a href="https://colab.research.google.com/github/jinyang628/pyspark-practice/blob/main/pyspark_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [58]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [59]:
spark=SparkSession.builder.appName("Practice").getOrCreate() # Start session

In [60]:
df_pyspark=spark.read.csv("test1.csv")

In [61]:
df_pyspark=spark.read.csv('test1.csv', header=True, inferSchema=True) # Initialises the entire df with the original header names

In [62]:
df_pyspark.columns # Get all column names in a list

['name', 'age', 'experience', 'salary']

In [63]:
df_pyspark.select(['name', 'experience']) # Select 2 particular columns

DataFrame[name: string, experience: int]

In [64]:
df_appended=df_pyspark.withColumn("experience after 2 years", df_pyspark['experience']+2) # Add a new column

In [65]:
df_appended.drop('experience after 2 years') # drop column

DataFrame[name: string, age: int, experience: int, salary: int]

In [66]:
df_renamed=df_pyspark.withColumnRenamed('name', 'new name') # rename column

In [67]:
df_pyspark.na.drop() # drop all rows that contain a null value

DataFrame[name: string, age: int, experience: int, salary: int]

In [68]:
df_pyspark.na.drop(how='all') # drop all rows that are fully null

DataFrame[name: string, age: int, experience: int, salary: int]

In [69]:
df_pyspark.na.drop(how='any', subset=['experience']) # only drop the row if experience column is null

DataFrame[name: string, age: int, experience: int, salary: int]

In [80]:
# df_replaced = df_pyspark.na.fill({"age": "missing values"}) # will fail to replace null with the string because the column is not of string type
df_replaced = df_pyspark.na.fill({"age": -1}) # replace null values in age column with -1

df_replaced.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   john| -1|      NULL|   100|
| thomas| 12|      NULL|   200|
|jinyang| -1|        23|   300|
+-------+---+----------+------+